@media (max-width: 900px) {
    .wrapper {
        padding-top: 54px;
    }
    .header {
        position: fixed;
        box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
        padding-top: 0;
        animation: show-header 1s;
    }
    .header__inner {
        height: 54px;
        align-items: center;
    }
    .logo {
        display: none;
        &--mini {
            display: block;
        }
    }
    .menu {
        width: auto;
        padding: 0;
        border: none;
        order:1;
    }
    .menu__btn {
        display: block;
    } 
    .menu__list {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 25%;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(#fff, .95);
        box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
        z-index: -1;
        transform: translateY(-150%);
        transition: transform .5s;
        padding-top: 54px;
        text-align: center;
        
        &.active {
            transform: translateY(0);
        }
    }
    .menu__item + .menu__item,
    .header.fixed .menu__item+.menu__item {
        margin-left: 0;
    }
    .menu__link {
        color: #979ba6;
        font-weight: 300;
        font-size: 13px;
        position: relative;
        &:hover {
            color: $red;
        }
    }
    .menu__link.active {
        color: #515359;
        &::before {
            content: '';
            position: absolute;
            left: -7px;
            right: -7px;
            background-color: $red;
        }
    }
    .menu__link,
    .header.fixed .menu__link {
        font-size: 15px;
        font-weight: 700;
        &.active::before {
            height: 2px;
            top: 6px;
        }
    }
    .header__info {
        margin-bottom: 0;
    }
    .header__phone {
        font-size: 16px;
        padding-left: 25px;
        margin-right: 30px;
        &::before {
            width: 16px;
            height: 22px;
            background-color: #fff;
            background: url('../images/phone-mini.svg');
        }
    }
    .header__btn {
        font-size: 10px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 12px 26px;
        border: 1px solid #979ba6;
    }
    .preview {
        min-height: 0;
        padding-bottom: 0;
    }
    .preview::before {
        display: none;
    }
    .preview__inner {
        padding: 100px 0;
    }
    .preview__img img {
        height: 750px;
        opacity: 0.3;
    }
    .about {
        padding: 100px 0 65px;
        clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 calc(100% - 50px));
        margin-top: -50px;
    }
    .about__col {
        width: 60%;
        &-img {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
    .about__title {
        margin-bottom: 50px;
    }
    .about__text {
        padding-right: 15px;
    }
    .about__img {
       padding-left: 15px;
        img {
            width: 100%;
        }
    }
    .footer {
        height: 600px;
        margin-top: -50px;
    }
    .footer iframe {
        height: 600px;
    }
    .footer__col {
        padding: 15px;
    }
}

@media (max-width: 640px) {
    .preview__title {
        font-size: 48px;
        line-height: 100%;
    }
    .preview__title b, .preview__title strong {
        font-size: 80px;
        line-height: 100%;
    }
    .preview__img {
        top: 25px;
    }
    .preview__img img {
        height: 550px;
    }
    .about__col {
        width: 100%;
        &-img {
            display: none;
        }
    }
    .about__text {
        padding-right: 0;
    }
    .footer__info {
        padding: 10px 15px;
        flex-wrap: wrap;
    }
    .footer__col {
        padding: 0;
        width: 100%;
    }
    .footer__copy {
        margin-top: 0;
    }
    .footer__address span,
    .footer__phone {
        display: inline;
    }
}

@media (max-width: 480px) {
    .logo--mini img {
        width: 30px;
    }
    .header__phone,
    .header.fixed .header__phone {
        font-size: 13px;
        padding-left: 0;
        margin-right: 10px;
        &::before {
            display: none;
        }
    }
    .header__btn,
    .header.fixed .header__btn {    
        padding: 5px;
    }
    .preview__title {
        font-size: 36px;
    }
    .preview__title b, .preview__title strong {
        font-size: 60px;
    }
}