*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    // font-size: 10px;
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    color: var(--black-13);
    font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--black-13);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    display: block;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 130.4rem;
    padding: 0 2rem;
    margin: 0 auto;
}

.container-wide {
    max-width: 140rem;
    padding: 0 1rem;
    margin: 0 auto;
}

html,
body {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 1 auto;
}

footer {
    margin-top: auto;
}

input,
textarea {
    &::placeholder {
        transition: opacity .3s;
    }

    &:focus::placeholder {
        opacity: 0;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.title {
    font-family: var(--second-family);
    font-size: 3.4rem;
    line-height: 100%;
    font-weight: 800;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    @media (min-width: 1200px) {
        font-size: 4.8rem;
    }

    &--white {
        color: var(--belyy-fon);
    }
}

.descr {
    font-size: 1.8rem;
    line-height: 120%;
    letter-spacing: -0.01em;

    @media (min-width: 1200px) {
        font-size: 2rem;
    }

    &--white {
        color: var(--belyy-fon);
    }
}

.btn {
    padding: 0.9rem 2.3rem;
    font-size: 1.8rem;
    line-height: 118%;
    text-align: center;
    font-weight: 500;
    border-radius: 7.6rem;
    transition: .3s;

    @media (min-width: 1200px) {
        font-size: 2.2rem;
    }

    &--transparent {
        color: var(--black-0);
        border: 1px solid var(--black-0);

        &:hover {
            @media (min-width: 1200px) {
                color: var(--belyy-fon);
                border-color: var(--purple);
                background-color: var(--purple);
            }
        }
    }

    &--white {
        color: var(--black-0);
        background-color: var(--belyy-fon);
        border: 1px solid var(--belyy-fon);

        &:hover {
            @media (min-width: 1200px) {
                color: var(--belyy-fon);
                border-color: var(--purple);
                background-color: var(--purple);
            }
        }
    }
}

.btn-mini {
    padding: 0.9rem 1.9rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.04em;
    border-radius: 6.8rem;
    transition: .3s;

    &--transparent {
        color: var(--belyy-fon);
        border: 1px solid var(--belyy-fon);

        &:hover {
            @media (min-width: 1200px) {
                color: var(--black-0);
                background-color: var(--belyy-fon);
            }
        }
    }

    &--white {
        color: var(--black-0);
        background-color: var(--belyy-fon);
        border: 1px solid var(--belyy-fon);

        &:hover {
            @media (min-width: 1200px) {
                color: var(--belyy-fon);
                background-color: var(--purple);
                border-color: var(--purple);
            }
        }
    }

    &--purple {
        color: var(--belyy-fon);
        background-color: var(--purple);
        border: 1px solid var(--purple);

        &:hover {
            @media (min-width: 1200px) {
                background-color: var(--purple-32);
                border-color: var(--purple-32);
            }
        }
    }
}

.btn-arrow {
    position: relative;
    padding: 0 5.1rem 0 0;

    @media (min-width: 1200px) {
        padding: 0 5.4rem 0 0;
    }

    &:hover {
        svg {
            &:nth-child(3) {
                @media (min-width: 1200px) {
                    transform: translate(0.3rem, calc(-50% - 0.3rem));
                }
            }
        }
    }

    &:disabled {
        cursor: default;

        &:hover {
            svg {
                &:nth-child(3) {
                    @media (min-width: 1200px) {
                        transform: translate(0, -50%);
                    }
                }
            }
        }
    }

    &.animated {
        span {
            color: transparent;

            &::before {
                opacity: 1;
                visibility: visible;
                animation: spin 1s ease-in-out infinite;
            }
        }
    }

    span {
        position: relative;
        display: block;
        padding: 1rem 2.4rem;
        font-size: 1.8rem;
        line-height: 118%;
        font-weight: 500;
        text-align: center;
        border-radius: 7.6rem;
        transition: color .3s, background-color .3s;

        @media (min-width: 1200px) {
            font-size: 2.2rem;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 3rem;
            height: 3rem;
            margin: -1.5rem 0 0 -1.5rem;
            border-radius: 50%;
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s, visibility .3s;
        }
    }

    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: .3s;

        &:nth-child(2) {
            right: 0;
            width: 6rem;
            height: 4.1rem;

            @media (min-width: 1200px) {
                width: 6.4rem;
                height: 4.4rem;
            }
        }

        &:nth-child(3) {
            right: 1.2rem;
            width: 1.7rem;
            height: 1.6rem;
        }
    }

    &--white {
        &:not([disabled]) {
            &:hover {
                span {
                    @media (min-width: 1200px) {
                        background-color: var(--gray-230);
                    }
                }

                svg {
                    &:nth-child(2) {
                        @media (min-width: 1200px) {
                            fill: var(--gray-230);
                            stroke: var(--gray-230);
                        }
                    }

                    &:nth-child(3) {
                        @media (min-width: 1200px) {
                            stroke: var(--gray-230);
                        }
                    }
                }
            }
        }

        span {
            color: var(--black-0);
            background-color: var(--belyy-fon);

            &::before {
                border: 3px solid var(--black-0-opacity-20);
                border-top-color: var(--black-0);
            }
        }

        svg {
            &:nth-child(2) {
                fill: var(--belyy-fon);
                stroke: var(--belyy-fon);
            }

            &:nth-child(3) {
                fill: var(--black-0);
                stroke: var(--belyy-fon);
            }
        }
    }

    &--purple {
        &:not([disabled]) {
            &:hover {
                span {
                    @media (min-width: 1200px) {
                        background-color: var(--purple-32);
                    }
                }

                svg {
                    &:nth-child(2) {
                        @media (min-width: 1200px) {
                            fill: var(--purple-32);
                            stroke: var(--purple-32);
                        }
                    }

                    &:nth-child(3) {
                        @media (min-width: 1200px) {
                            stroke: var(--purple-32);
                        }
                    }
                }
            }
        }

        span {
            color: var(--belyy-fon);
            background-color: var(--purple);

            &::before {
                border: 3px solid var(--white-opacity-20);
                border-top-color: var(--belyy-fon);
            }
        }

        svg {
            &:nth-child(2) {
                fill: var(--purple);
                stroke: var(--purple);
            }

            &:nth-child(3) {
                fill: var(--belyy-fon);
                stroke: var(--purple);
            }
        }
    }
}

.prev,
.next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    transition: opacity .3s;

    @media (min-width: 1200px) {
        width: 4rem;
    }

    @media (min-width: 1400px) {
        width: 4.4rem;
    }

    svg {
        color: var(--belyy-fon);
        width: 0.9rem;
        height: 1.5rem;

        @media (min-width: 1200px) {
            width: 1.5rem;
            height: 2.4rem;
        }
    }

    &.swiper-button-disabled {
        opacity: .35;
        cursor: default;
    }
}

.prev {
    right: 100%;
}

.next {
    left: 100%;

    svg {
        transform: rotate(180deg);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.pages {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    padding: 2rem;
    counter-reset: my-counter;

    @media (min-width: 640px) {
        font-size: 2rem;
    }

    ol {
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0.5rem;
        list-style-type: none;
    }

    a {
        display: block;
        position: relative;
        padding-left: 4rem;
        text-decoration: none;

        &::before {
            content: counter(my-counter);
            counter-increment: my-counter;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}