.about-services {
    background-color: var(--belyy-fon);
    padding: 0 0 6rem;

    @media (min-width: 1200px) {
        padding: 5.6rem 0 19.2rem;
    }

    &__title {
        margin: 0 0 4rem 0;
    }

    &__swiper {
        margin: 0 -2rem;
        padding: 0 2rem;

        @media (min-width: 1200px) {
            margin: 0;
            padding: 0;
        }

        .swiper-slide {
            height: auto;
        }
    }
}