.account {
    padding: 10rem 0 0;
    background-color: var(--belyy-fon);

    @media (min-width: 1200px) {
        padding: 10rem 0 12rem;
    }

    &__wrapper {
        margin: 0 -1rem;
        padding: 4rem 0;
        background-color: var(--gray-242);

        @media (min-width: 1200px) {
            margin: 0;
            padding: 8rem 0;
            border-radius: 2rem;
        }
    }

    &__title {
        margin: 0 0 2rem 0;

        @media (min-width: 1200px) {
            margin: 0 0 4rem 0;
        }
    }

    &__swiper {
        margin: 0 -2rem;
        padding: 0 2rem;

        @media (min-width: 1200px) {
            margin: 0;
            padding: 0;
        }

        .swiper-slide {
            height: auto;
        }
    }
}