.accounting {
    padding: 6rem 0;
    background-color: var(--belyy-fon);

    @media (min-width: 1200px) {
        padding: 12rem 0;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            gap: 3rem;
        }
    }

    &__content {

        @media (min-width: 768px) {
            width: 60.8rem;
            padding: 2.6rem 0 0 0;
        }
    }

    &__title {
        margin: 0 0 4rem 0;

        @media (min-width: 1200px) {
            margin: 0 0 6.8rem 0;
        }
    }

    &__items {
        max-width: 47rem;
    }

    &__item {
        position: relative;
        padding: 0 0 0 4rem;
        color: var(--black-0);

        @media (min-width: 1200px) {
            padding: 0 0 0 5rem;
        }

        &:not(:last-child) {
            margin: 0 0 3rem 0;

            @media (min-width: 1200px) {
                margin: 0 0 5rem 0;
            }
        }
    }

    &__img {
        order: -1;

        @media (min-width: 768px) {
            order: 0;
            width: 60.8rem;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 1.5rem;
            box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.11);

            @media (min-width: 1200px) {
                border-radius: 2rem;
                box-shadow: 2px 4px 11px 0 rgba(0, 0, 0, 0.11);
            }
        }
    }
}