.bank-acquiring {
    position: relative;
    padding: 23.7rem 0 6rem;
    background-color: var(--black-13);
    overflow: hidden;

    @media (min-width: 768px) {
        padding: 6rem 0;
    }

    @media (min-width: 1200px) {
        padding: 14rem 0 10.5rem;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        position: relative;
        z-index: 1;

        @media (min-width: 768px) {
            flex-grow: 1;
        }
    }

    &__title {
        margin: 0 0 2rem 0;

        @media (min-width: 1200px) {
            margin: 0 0 4.5rem 0;
        }
    }

    &__text {
        max-width: 65.2rem;
        color: var(--belyy-fon);
        font-size: 1.8rem;
        line-height: 120%;
        letter-spacing: -0.01em;
        opacity: 0.7;

        @media (min-width: 1200px) {
            font-size: 2.4rem;
        }

        &:not(:last-child) {
            margin: 0 0 2rem 0;
        }
    }

    &__descr {
        margin: 0 0 4rem 0;

        @media (min-width: 1200px) {
            margin: 0 0 6rem 0;
        }
    }

    &__img {
        position: absolute;
        top: -2.3rem;
        right: -8.2rem;
        width: 35.6rem;
        height: 35.4rem;

        @media (min-width: 576px) {
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        @media (min-width: 768px) {
            flex-shrink: 0;
            position: relative;
            left: auto;
            top: auto;
            right: auto;
            height: auto;
            margin: 0 -5.8rem 0 0;
        }

        @media (min-width: 1200px) {
            width: 54rem;
            margin: 0 -8.8rem 0 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;

            @media (min-width: 768px) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -74%);
                max-width: 100%;
                width: auto;
                height: auto;
            }

        }
    }
}

.bank-acquiring-item {
    max-width: 28.6rem;

    &__num {
        display: block;
        margin: 0 0 0.5rem 0;
        color: var(--belyy-fon);
        font-size: 6.4rem;
        line-height: 110%;
        font-weight: 400;
        letter-spacing: -0.03em;
        text-transform: uppercase;

        @media (min-width: 1200px) {
            font-size: 8rem;
        }
    }

    &__descr {
        color: var(--belyy-fon);
        font-size: 1.4rem;
        line-height: 120%;
        letter-spacing: -0.01em;
        opacity: 0.5;

        @media (min-width: 1200px) {
            font-size: 1.8rem;
        }
    }
}