.conversion {
    padding: 6rem 0;
    background-color: var(--belyy-fon);

    @media (min-width: 1200px) {
        padding: 10rem 0;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__content {
        border-radius: 2rem;
        background-color: var(--gray-242);
        padding: 4rem 2.5rem;

        @media (min-width: 1200px) {
            padding: 8rem 5.8rem 6rem;
        }
    }

    &__title {
        margin: 0 0 4rem 0;

        @media (min-width: 768px) {
            margin: 0 0 8rem 0;
        }

        @media (min-width: 1200px) {
            margin: 0 0 11.3rem 0;
        }
    }

    &__items {
        max-width: 39rem;
    }

    &__item {
        color: var(--black-0);

        &:not(:last-child) {
            margin: 0 0 3rem 0;

            @media (min-width: 1200px) {
                margin: 0 0 5rem 0;
            }
        }
    }

    &__right {
        display: flex;
        padding: 4rem 1rem;
        border-radius: 2rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @media (min-width: 1200px) {
            padding: 5rem 1rem 1.4rem;
        }
    }
}

.conversion-mockup {
    position: relative;
    width: 26.4rem;
    margin: auto;

    @media (min-width: 1200px) {
        width: 33.6rem;
    }

    &__content {
        position: absolute;
        left: 2.2rem;
        right: 2.2rem;
        bottom: 4.7rem;

        @media (min-width: 1200px) {
            left: 2.8rem;
            right: 2.8rem;
            bottom: 6rem;
        }
    }

    &__title {
        position: relative;
        z-index: 1;
        margin: 0 0 1.3rem 0;
        color: var(--black-0);
        font-size: 2rem;
        line-height: 100%;
        font-weight: 500;
        letter-spacing: -0.01em;
        text-align: center;

        @media (min-width: 1200px) {
            margin: 0 0 1.5rem 0;
            font-size: 2.6rem;
        }
    }

    &__img {
        aspect-ratio: 1 / 2.03;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.conversion-mockup-item {
    position: relative;
    min-height: 8.9rem;
    padding: 4.1rem 1.1rem 1.1rem 2.4rem;
    border-radius: 1.2rem;
    opacity: 0;
    transform: translateY(-100px);

    &.animated {
        animation: available-solutions-item-animation 1s both;
    }

    @media (min-width: 1200px) {
        min-height: 11.3rem;
        padding: 5.2rem 1.4rem 1.4rem 3.2rem;
    }

    &::before {
        content: '';
        position: absolute;
        top: 4.6rem;
        left: 1.4rem;
        width: 0.5rem;
        height: 0.6rem;
        border-radius: 50%;
        background-color: var(--purple-105);
        box-shadow: 0 0 7px 1px var(--purple-105-opacity-40);

        @media (min-width: 1200px) {
            top: 5.9rem;
            width: 0.6rem;
            height: 0.6rem;
        }
    }

    &:nth-child(1) {
        background-color: var(--purple-246);

        svg {
            opacity: 0.88;
        }
    }

    &:nth-child(2) {
        background-color: var(--purple-239);

        svg {
            opacity: 0.6;
        }
    }

    &:nth-child(3) {
        background-color: var(--purple-225);

        svg {
            opacity: 0.3;
        }
    }

    &:nth-child(4) {
        background-color: var(--purple-204);

        svg {
            opacity: 0.2;
        }
    }

    &:not(:last-child) {
        margin: 0 0 0.6rem 0;

        @media (min-width: 1200px) {
            margin: 0 0 0.7rem 0;
        }
    }

    svg {
        position: absolute;
        right: 1.1rem;
        bottom: 1.1rem;
        width: 7.7rem;
        height: 8rem;
        width: 6.2rem;
        height: 6.3rem;
        color: var(--belyy-fon);

        @media (min-width: 1200px) {
            width: 7.7rem;
            height: 8rem;
            right: 1.4rem;
            bottom: 1.3rem;
        }
    }

    &__text {
        position: relative;
        z-index: 1;
        color: var(--black-0);
        font-size: 1.8rem;
        line-height: 100%;

        @media (min-width: 1200px) {
            font-size: 2.3rem;
        }
    }
}

@keyframes conversion-mockup-item-animation {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}