.header {
    position: absolute;
    top: 1.2rem;
    left: 0;
    z-index: 5;
    width: 100%;

    @media (min-width: 1200px) {
        top: 3.2rem;
    }

    &.fixed {
        position: fixed;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8rem;

        @media (min-width: 1200px) {
            align-items: flex-end;
            justify-content: flex-start;
        }
    }

    &__logo {
        position: relative;
        z-index: 1;

        img {
            width: auto;
            height: 2.3rem;

            @media (min-width: 1200px) {
                height: 2.8rem;
            }
        }
    }

    &__buttons {
        display: none;

        @media (min-width: 1200px) {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin: 0 0 0 auto;
        }
    }
}

.header-nav {
    display: none;

    @media (min-width: 1200px) {
        display: block;
    }

    &__list {
        display: flex;
        gap: 3rem;
    }

    &__link {
        display: block;
        color: var(--belyy-fon);
        font-size: 1.8rem;
        line-height: 1.8rem;
        letter-spacing: -0.04em;
    }
}