.a-lesson {
  padding: 0 0 50px;

  @media (min-width: 1200px) {
    padding: 0 0 80px;
  }

  .a-training-tabs__bar {
    margin-bottom: 32px;

    @media (min-width: 1200px) {
      margin-bottom: 48px;
    }
  }

  .a-training-tabs__statuses {
    display: none;

    @media (min-width: 1200px) {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(2, auto);
    }

    @media (min-width: 1400px) {
      width: 468px;
    }
  }

  .a-training-tabs__status {
    &::before {
      border: 3px solid var(--status-color);
      background-color: var(--bg-color);
    }
  }
}

.a-lesson-main {
  padding: 14px 0 56px;

  @media (min-width: 1200px) {
    padding: 24px 0 56px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin: 0 0 12px;

    @media (min-width: 1200px) {
      margin-bottom: 32px;
    }

    .a-breadcrumbs {
      padding: 0;
    }
  }

  &__btn {
    display: none;
    padding: 12px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    color: var(--backtimeslip);
    border-radius: var(--radius-12);
    border: 2px solid var(--backtimeslip);

    @media (min-width: 1200px) {
      display: block;
    }
  }

  &__inner {
    display: grid;
    gap: 25px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
    }
  }

  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: 768px) {
      justify-self: end;
    }

    @media (min-width: 1200px) {
      font-size: 28px;
      line-height: 34px;
    }
  }

  &__status {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    grid-row: 2/3;

    @media (min-width: 768px) {
      align-self: end;
    }

    @media (min-width: 1200px) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__select {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
    border: 1px solid var(--gray);
    border-radius: 4px;
    padding: 13px 18px;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5157 8.52815C8.12518 8.91868 7.49201 8.91868 7.10149 8.52815L0.737526 2.16419C0.347002 1.77367 0.347001 1.1405 0.737526 0.749977C1.12805 0.359453 1.76122 0.359453 2.15174 0.749977L7.80859 6.40683L13.4654 0.749977C13.856 0.359453 14.4891 0.359453 14.8797 0.749977C15.2702 1.1405 15.2702 1.77367 14.8797 2.16419L8.5157 8.52815ZM7.80859 5.82031L8.80859 5.82031L8.80859 7.82104L7.80859 7.82104L6.80859 7.82104L6.80859 5.82031L7.80859 5.82031Z' fill='black' /%3E%3C/svg%3E");
    cursor: pointer;
  }
}

.a-lesson-theme {
  margin: -20px 0 0;
  padding: 20px 0 50px;
  border-radius: var(--radius-20) var(--radius-20) 0 0;
  background-color: var(--black-34);

  @media (min-width: 1200px) {
    padding: 28px 0 132px;
  }

  &__suptitle {
    display: block;
    margin: 0 0 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
  }

  &__title {
    margin: 0 0 44px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: 1200px) {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 100px;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 15px;
    border: 1px solid var(--backtimeslip);
    border-radius: var(--radius-16);

    @media (min-width: 768px) {
      padding: 20px;
    }

    @media (min-width: 1200px) {
      padding: 24px;
    }
  }

  &__descr {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;

    @media (min-width: 1200px) {
      font-size: 20px;
      line-height: 24px;
    }

    a {
      text-decoration: underline;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (min-width: 768px) {
      gap: 20px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    font-size: 0;
    line-height: 24px;
    font-weight: 600;
    border-radius: var(--radius-12);
    background-color: var(--red);

    @media (min-width: 1200px) {
      justify-content: space-between;
      min-width: 234px;
      width: auto;
      height: auto;
      padding: 15px 24px;
      font-size: 20px;
    }

    svg {
      color: var(--backtimeslip);
    }
  }

  &__plus-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    color: var(--backtimeslip);
    font-size: 0;
    line-height: 24px;
    font-weight: 600;
    border: 1px solid var(--red);
    border-radius: var(--radius-12);

    @media (min-width: 1200px) {
      width: auto;
      height: auto;
      padding: 14px 21px;
      gap: 8px;
      font-size: 20px;
    }

    &::before {
      content: '+';
      font-size: 36px;
      line-height: 24px;
      font-weight: 600;
    }
  }
}

.a-lesson-presentation {
  padding: 30px 0;

  @media (min-width: 1200px) {
    padding: 30px 0 110px;
  }

  &__title {
    margin: 0 0 13px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;

    @media (min-width: 1200px) {
      margin-bottom: 22px;
    }
  }

  &__inner {
    margin: 0 -20px;

    @media (min-width: 768px) {
      margin: 0;
    }
  }

  &__placeholder {
    img {
      width: 100%;
    }
  }
}

.a-lesson-tabs {

  &__title {
    display: none;

    @media (min-width: 1200px) {
      margin: 0 0 30px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__bar {
    position: relative;
    margin: 0 0 28px;
    padding: 0 36px;

    @media (min-width: 1200px) {
      margin-bottom: 32px;
      padding: 0;
    }
  }

  &__swiper {
    .swiper-wrapper {
      @media (min-width: 1200px) {
        flex-wrap: wrap;
        gap: 28px 24px;
      }
    }

    .swiper-slide {
      width: auto;
      // @media (min-width: 1200px) {
      //   width: auto;
      // }
    }
  }

  &__prev,
  &__next {
    display: flex;
    align-items: center;
    position: absolute;
    width: 36px;
    top: 0;
    bottom: 0;
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
    justify-content: flex-end;

    svg {
      right: 0;
    }
  }

  &__btn {
    width: 36px;
    height: 36px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid var(--status-color);
    border-radius: 50%;
    transition: background-color 0.3s, border-color 0.3s;

    @media (min-width: 1200px) {
      width: 54px;
      height: 54px;
      font-size: 32px;
      line-height: 39px;
    }

    &.active {
      background-color: var(--status-color);
      border-color: var(--backtimeslip);
    }
  }

  &__item {
    display: none;

    &.active {
      display: block;
    }

    &.fade {
      animation: fade 0.5s;
    }
  }
}