.process {
    padding: 5rem 0 0;
    overflow: hidden;
    background-color: var(--black-13);

    @media (min-width: 1200px) {
        padding: 8rem 0 0;
    }

    &__inner {
        counter-reset: process-steps-counter;
    }
}

.process-step {
    &__wrapper {
        border-radius: 4rem;

        @media (min-width: 1200px) {
            border-radius: 4.5rem;
        }
    }

    &__inner {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }
    }

    &__img {
        position: relative;
        z-index: 1;

        @media (min-width: 768px) {
            order: 1;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__content {
        position: relative;

        @media (min-width: 768px) {
            width: 56.1rem;
        }

        &::before {
            content: '0' counter(process-steps-counter);
            counter-increment: process-steps-counter;
            position: absolute;
            top: -10rem;
            left: -20px;
            font-family: var(--second-family);
            color: var(--belyy-fon);
            font-size: 23rem;
            line-height: 100%;
            font-weight: 800;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            opacity: 0.05;

            @media (min-width: 768px) {
                top: 3.8rem;
            }

            @media (min-width: 1200px) {
                font-size: 28.5rem;
                letter-spacing: -0.06em;
            }
        }
    }

    &__btn {
        display: inline-block;
        margin: 0 0 2.2rem 0;
        padding: 0.9rem 1.9rem;
        color: var(--belyy-fon);
        font-size: 1.6rem;
        line-height: 118%;
        font-weight: 500;
        border-radius: 7.6rem;
        border: 1px solid var(--belyy-fon);
        opacity: 0.5;

        @media (min-width: 1200px) {
            margin: 0 0 12rem 0;
            font-size: 1.8rem;
        }
    }

    &__title {
        position: relative;
        margin: 0 0 2.5rem 0;

        @media (min-width: 1200px) {
            margin: 0 0 4rem 0;
        }
    }

    &__descr {
        position: relative;
        opacity: 0.7;
    }

    &-1 {
        .process-step__wrapper {
            background-color: var(--black-13);
            border: 1px solid var(--black-52);
        }

        .process-step__inner {
            padding: 10px 0 11.5rem;

            @media (min-width: 768px) {
                padding: 6rem 0 11.5rem;
            }

            @media (min-width: 1200px) {
                padding: 10rem 0 15rem;
            }
        }

        .process-step__img {
            max-width: 32.5rem;
            margin: 0 auto;

            @media (min-width: 768px) {
                max-width: none;
                width: 48.1rem;
                margin: -2.6rem 0 0 0;
            }
        }
    }

    &-2 {
        margin: -7rem 0 0 0;

        @media (min-width: 1200px) {
            margin: -10rem 0 0 0;
        }

        .process-step__wrapper {
            background-color: var(--belyy-fon);
        }

        .process-step__inner {
            padding: 0 0 11.5rem;

            @media (min-width: 768px) {
                padding: 6rem 0 11.5rem;
            }

            @media (min-width: 1200px) {
                padding: 10rem 0 15rem;
            }
        }

        .process-step__content {
            &::before {
                color: var(--black-13);
            }
        }

        .process-step__btn {
            color: var(--black-13);
            border-color: var(--black-13);
        }

        .process-step__img {
            max-width: 35.2rem;
            margin: 0 auto;

            @media (min-width: 768px) {
                max-width: none;
                width: 52.2rem;
                margin: -5.7rem 0 0 0;
            }
        }
    }

    &-3 {
        margin: -7rem 0 0 0;
        background-color: var(--belyy-fon);

        @media (min-width: 1200px) {
            margin: -10rem 0 0 0;
        }

        .process-step__wrapper {
            background-color: var(--black-13);
            border: 1px solid var(--black-52);
        }

        .process-step__inner {
            padding: 6rem 0;

            @media (min-width: 1200px) {
                padding: 10rem 0 8.5rem;
            }
        }

        .process-step__img {
            max-width: 30.1rem;
            margin: 0 auto 4rem;

            @media (min-width: 768px) {
                max-width: none;
                width: 44.6rem;
                margin: 0 3.5rem 0 0;
            }

            @media (min-width: 1200px) {
                margin: -1.5rem 3.5rem 0 0;
            }
        }
    }
}