.pulsar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.7rem;
    height: 3.7rem;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 1.1rem;
        height: 1.1rem;
        border-radius: 50%;
        background-color: var(--belyy-fon);
        opacity: 0.6;

        &::before,
        &::after {
            content: '';
            position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            border: 1px solid var(--belyy-fon);
            border-radius: 50%;
            opacity: 0;
        }

        &::before {
            width: 2.5rem;
            height: 2.5rem;
            animation: pulsar 3s infinite both linear;
        }

        &::after {
            width: 100%;
            width: 3.7rem;
            height: 3.7rem;
            animation: pulsar 3s infinite 0.5s both linear;
        }
    }
}

@keyframes pulsar {

    33% {
        opacity: 0.6;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}