.social {
    &__list {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 3rem;
            height: 3rem;
            color: var(--gray-161);
            fill: var(--black-13);
            transition: color .3s;

            @media (min-width: 1200px) {
                width: 2rem;
                height: 2rem;
            }

            &:hover {
                @media (min-width: 1200px) {
                    color: var(--belyy-fon);
                }
            }
        }
    }
}