.systems {
    background: var(--belyy-fon);

    &__wrapper {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 1rem;

        @media (min-width: 1200px) {
            border-radius: 1.3rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 54.6rem;
        min-height: 58.8rem;
        padding: 2.5rem 0;

        @media (min-width: 1200px) {
            min-height: 73.8rem;
            padding: 5rem 0;
        }
    }

    &__title {
        margin: 0 0 2rem 0;

        @media (min-width: 1200px) {
            margin: 0 0 3.5rem 0;
        }
    }

    &__descr {
        max-width: 44.7rem;
        margin: 0 0 3.5rem 0;
        color: var(--belyy-fon);
        font-size: 1.8rem;
        line-height: 120%;
        letter-spacing: -0.01em;

        @media (min-width: 1200px) {
            margin: 0 0 5rem 0;
            font-size: 2.4rem;
        }
    }
}

.systems-item {

    max-width: 28.6rem;

    &__num {
        display: block;
        margin: 0 0 0.5rem 0;
        color: var(--belyy-fon);
        font-size: 6.4rem;
        line-height: 110%;
        font-weight: 400;
        letter-spacing: -0.03em;
        text-transform: uppercase;

        @media (min-width: 1200px) {
            font-size: 8rem;
        }
    }

    &__descr {
        color: var(--belyy-fon);
        font-size: 1.4rem;
        line-height: 120%;
        letter-spacing: -0.01em;
        opacity: 0.8;

        @media (min-width: 1200px) {
            font-size: 1.8rem;
        }
    }
}