.a-new-user {
  padding: 0 0 50px;

  @media (min-width: 1200px) {
    padding: 0 0 80px;
  }

  &__title {
    margin: 0 0 30px;

    @media (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }

  &__inner {
    max-width: 850px;
  }

  &__field {
    margin: 0 0 50px;

    @media (min-width: 1200px) {
      margin-bottom: 30px;
    }
  }

  &__btn {
    &.a-btn {
      width: 100%;

      @media (min-width: 768px) {
        width: auto;
        padding-left: 45px;
        padding-right: 45px;
      }
    }
  }
}